<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droid.c4po.droiddrumz_alpha" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- SPLASH ACTIVITY HERE -->
        <activity
            android:name=".splash_screen"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DroidDrumzAlphaMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <!-- Moved whole intent filter region to splash_screen activity section -->
        </activity>
        <activity
            android:name=".PadAssignmentMenu"
            android:label="@string/pad_assign_label" >
        </activity>
    </application>

</manifest>
